body{
    /*background:url("../images/mapamundi01.jpg"); */
    background-image: url("../images/mapamundi01.jpg");
    background-repeat: no-repeat ;

}

#menuPrincipal {
    background: black;
    text-align: center;
    position: fixed;
    width: 90%;
    /*color: aqua;*/
}

#menuPrincipal li{
    display: inline-block;
    color: aqua;
    width: 150px;
}

#menuPricipal li:hover{
    background: grey;
}