body{
   /* background:url("../images/mapamundi01.jpg"); 
    /*background-image: url("../images/mapamundi01.jpg");*/
    background-repeat: no-repeat ;
    /*background: grey;*/
}

.barraInicio {
    background: black;
}

.anchoPrincipal {
    width: 80%;
    margin: auto;
}

#divPrincipal{
    /*background: turquoise;*/
    background:url("../images/mapamundi01.jpg");
    vertical-align: top;
}

#barraPrincipal{
    
}




