body{
    /*background:url("../images/mapamundi01.jpg"); */
    background: black;
    /*background-image: url("../images/mapamundi01.jpg");*/
    background-repeat: no-repeat ;
}

h1{
    color: black;
    text-align: right;
    
}

/*  Clases  */

.barraInicio {
    background: black;
}

.anchoPrincipal {
    width: 80%;
    margin: auto;
}

.divTexto{
    background: green;
}

/*  ids */
#divPrincipal{
    background: beige;
    /*background:url("../images/mapamundi01.jpg");*/
    vertical-align: top;
}

#barraPrincipal{
    background: blue;
    text-align: center;
    width: 100%;
    font-size: 25pt;
}

#barraPrincipal li{
    display: inline-block;
    color: red;
    align-items: center;
    margin: auto;
    width: 28%;
    height: 35pt;
}

#barraPrincipal li:hover{
    background: grey;
}

#barraPrincipal a{
    text-decoration: none;
    color: red;
}

#mapaMundi{
    background: pink;
}
