/* Diferentes navegadores utilizan diferentes márgenes por defecto */
body{
    margin:0; /* Igualo los márgenes por defecto de cualquier navegador*/
}

/* Contenedor principal. Tendrá Flexbox */
.container {
    display: flex; /* flex es igual a inline-flex. Los elementos dentro de un flex son flex-items */
    flex-wrap: wrap;
    flex-direction: column;
    border: 10px solid red;
    height: 100vh; /* Utiliza el 100% del alto del viewport (parte visible de la página) */ 
    box-sizing: border-box; /* Unifica en un único valor de cada div los siguientes: margin, padding y border*/ 
}  

/* Cada box tiene unas propiedades, son simplemente estéticas*/ 
.box {
  color: #fff;
  font-size: 40px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
  width: 50%;
}

/* Colores de cada box */
.box1 { background:#1abc9c; height: 22.5%;}
.box2 { background:#3498db; height: 22.5%;}
.box3 { background:#9b59b6; height: 45%;}
.box4 { background:#34495e; height: 10%;}
.box5 { background:#f1c40f; height: 50%;}
.box6 { background:#e67e22;height: 50%;}