#cabecera{
    font-weight: bold;
}

#cabecera a{
    color: black;
}

#cabecera a.hover{
    color: orange;
}

#cabeceraLADM {
    background: rgb(255, 123, 0);
    background-color: rgb(255, 123, 0);
    color: white;
    font-weight: bold;
}

#certificado {
    color: grey;
    font-size: small;
}

#divPrincipal {
    width: 80%;

    display: flex;
    justify-content: center;
    align-content: center;   
}

#tarjetaNoticia{

}

#tarjetaNoticia a{
    text-decoration: none;
}