body{
    overflow-x: hidden;
}

#barraNav {
    border-bottom: 1px solid rgb(0, 0, 0);
    background: white;
    background-color: white;
}

#cabecera{
    font-weight: bold;
    padding: 0; /* redefine el cotainer-fluid de bootstrap  */
    
}

#cabeceraSus {
    background: rgb(255, 102, 0);
    background-color: rgb(255, 102, 0);
}

#cabecera a{
    color: black;
}

#cabecera a.hover{
    color: orange;
}

#cabeceraLADM {
    background: rgb(255, 102, 0);
    background-color: rgb(255, 102, 0);
    color: white;
    font-weight: bold;
}

#certificado {
    color: grey;
    font-size: small;
}

#divPrincipal {
    /*width: 80%;*/
    /*margin-left: 20%;*/
    /*display: flex;
    justify-content: center;
    align-content: center;   */
}

#tarjetaNoticia{
    padding: 3%;
}

#tarjetaNoticia a{
    text-decoration: none;
    color: black;
}

#noticia {
    margin-top: 4%;
}

#noticia a{
    text-decoration: none;
    color: black;
}

#footerStyle a{
    color: white;
}